{% extends 'base.html.twig' %}


{% block title %}
    Category {{ category }}
{% endblock %}


{% block body %}
    <div class="col-xs-9">
        {% include 'AppBundle::widget_products.html.twig' with {'products': products} %}
    </div>

    <div class="col-xs-3">
        {{ render(controller('AppBundle:Widget:categories', {'active' : category})) }}
    </div>

{% endblock %}