{% extends 'base.html.twig' %}


{% block title %}
    Home
{% endblock %}


{% block body %}

    <div class="col-xs-9">
        {% include 'AppBundle::widget_products.html.twig' with {'products': products} %}
    </div>

    <div class="col-xs-3">
        {{ render(controller('AppBundle:Widget:categories')) }}
    </div>

{% endblock %}