<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Citrus Maket</title>
    <link rel="stylesheet" href="/css/maket.css">

</head>

<body>
    <div class="page-container">

        <div class="page-header text-center">
            <div class="text-center">
                <button class="visible-xs">Menu</button>
            </div>
            <ul class="nav-bar hidden-xs">
                <li><a style="background-color: #5eb5e0" href="#">Item 1</a></li>
                <li><a style="background-color: #6b9311" href="#">Item 2</a></li>
                <li><a style="background-color: #8959A8" href="#">Item 3</a></li>
                <li><a style="background-color: #880000" href="#">Item 4</a></li>
                <li><a style="background-color: #916319" href="#">Item 5</a></li>
                <li><a style="background-color: #0000F0" href="#">Item 6</a></li>
            </ul>
        </div>

        <div class="page-body">
            <form action="/form.php" method="post" class="container-xs">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="name" />
                </div>
                <div>
                    <label for="mail">E-mail:</label>
                    <input type="email" id="mail" />
                </div>
                <div>
                    <label for="msg">Message:</label>
                    <textarea id="msg"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit">Send</button>
                </div>
            </form>
        </div>

        <div class="page-footer text-center">
            FOOTER
        </div>

    </div>
</body>
</html>
