<div class="list-group">

    {% for category in categories %}
        <a href="{{ path('category', {'name' : category.name}) }}" class="list-group-item {% if active == category.name %} active {% endif %}">{{ category.name }}</a>
    {% endfor %}

</div>