html{
    height: 100%;
}
body {
    font-size: 14px;
    margin: 0;
    height: 100%;
}

form input, textarea {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
}

form {
    padding: 5%;
}

.page-header{
    width: 100%;
    float: left;
    margin-bottom: 10%;
}

.page-container{
    max-width: 980px;
    margin: auto;
    height: 100%;
}

.page-body{
    height: 100%;
}

.page-footer{
    padding: 5%;
    background-color: #6c6159;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.nav-bar li{
    float: left;
    width: calc(100%);
}
.nav-bar li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
}

.container-xs{
    max-width: 480px;
    margin: auto;
}

.visible-xs{
    display: none;
}

.hidden-xs{
    display: inline-block;
}
.text-center{
    text-align: center;
}

@media (min-width: 980px) {
    .nav-bar li{
        width: calc(100% / 6);
    }
}

@media (min-width: calc(980px /2)) and (max-width: 980px) {
    .nav-bar li{
        width: calc(100% / 3);
    }
}

@media (min-width: calc(980px/3)) and (max-width: calc(980px/2)) {
    .nav-bar li{
        width: calc(100% / 2);
    }
}

@media (min-width: calc(980px/6)) and (max-width: calc(980px/3)) {
    .nav-bar li{
        width: 100%;
    }
}

@media (max-width: calc(980px/6)) {
    .hidden-xs{
        display: none;
    }
    .visible-xs{
        display: inline-block;
    }
}